body{
    background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")

}
h1{font-family:fantasy}
body{color: aliceblue;}
body{background-size: cover}
body{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}

